extends layout
block content
    .contenido-principal
        h1 #{title} - #{project.name}
        //form
        form.agregar-tarea(action=`/projects/${project.url}` method="POST")
            .campo
                label(for="task") Task:
                input.nombre-tarea(type="text" name="task" placeholder="Task Name")
            .campo.enviar
                input.boton.nueva-tarea(type="submit" value="Add")
        //pending
        .listado-pendientes
            ul
                each task in tasks
                    li.tarea(data-taskId=project.url + ":" + task.id)
                        p= task.task
                        .acciones
                            if task.status
                                i.far.fa-check-circle.completo
                            else
                                i.far.fa-check-circle
                            i.fas.fa-trash
                if tasks.length < 1
                    p= "No tasks in this project."
        //pre= vardump(project)
        //progress
        .avance
            h2 Project Progress
            #barra-avance.barra-avance
                #porcentaje.porcentaje
                
        //actions
        .contenedor-acciones
            a(href=`/project/edit/${project.id}` class="boton") Edit Project
            button#eliminar-proyecto(type="button" data-project-url=project.url class="boton eliminar") Delete Project