extends layout
block content
    .contenido-principal
        h1 #{title} - #{project.name}
        //form

        //pending
        pre= vardump(project)
        //actions
        .contenedor-acciones
            a(href=`/project/edit/${project.id}` class="boton") Edit Project
            button#eliminar-proyecto(type="button" data-project-url=project.url class="boton eliminar") Delete Project